{% extends "layouts/base_dashboard.html" %}


{%  block content_dashboard %}
<script src="{{url_for('static', filename = 'js/plotly-latest.min.js')}}"></script>

<!--Plot-->
{% if not figures1 %}
    <div class="row">
        <!--Files uploaded-->
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h3><strong>Analyzing {{ data_name }}</strong></h3>
                </header>
                <div class="widget-body">
                    <p class="fs-mini text-muted">
                        Click any button below for plotting.
                    </p>
                    {% if not files %}
                        <div><br> There are not files in the system yet <br></div>
                    {% else %}
            						<div>
            							<a data-toggle="collapse" href="#collapse1">Display to see datasets already in the system</a><br/>
            						</div><br>
            						<div id="collapse1" class="panel-collapse collapse in">
                            <form  action="/analyze_app" method="POST">
                                {% for file in files %}
                                    {% if file.endswith(".csv") or  file.endswith(".txt")%}
                                        <button class="btn btn-secondary btn-block" value="{{file}}" name="submit" type="submit" >{{ file }}</button>
                                    {% endif %}
                                {% endfor %}
                            </form>
            						</div>
                    {% endif %}
                </div>
            </section>
        </div>
        <!--End Files uploaded-->
    </div>
{% else %}
    <div class="row">
        <!--Files uploaded-->
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h3><strong>Analyzing {{ data_name }}</strong></h3>
                </header>
                <div class="widget-body">
                    <p class="fs-mini text-muted">
                        Click any button below for plotting.
                    </p>
                    {% if not files %}
                        <div><br> There are not files in the system yet <br></div>
                    {% else %}
            						<div>
            							<a data-toggle="collapse" href="#collapse1">Display to see datasets already in the system</a><br/>
            						</div><br>
            						<div id="collapse1" class="panel-collapse collapse">
                            <form  action="/analyze_app" method="POST">
                                {% for file in files %}
                                    {% if file.endswith(".csv") or  file.endswith(".txt")%}
                                        <button class="btn btn-secondary btn-block" value="{{file}}" name="submit" type="submit" >{{ file }}</button>
                                    {% endif %}
                                {% endfor %}
                            </form>
            						</div>
                    {% endif %}
                </div>
            </section>
        </div>
        <!--End Files uploaded-->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                    <h3><strong>Description Data</strong></h3>
                </header>
                <div class="widget-body">
                    <p class="fs-mini text-muted">
                        Descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution
                    </p>
                    <div class="mt" style="overflow-x: auto">
                        <table id="datatable-table" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                {% for item in figures1["table1"].columns.values %}
                                <th><strong><label name="class" value={{ item }} > {{ item }} </label></strong></th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                                {% for index, line in figures1["table1"].iterrows() %}
                                <tr>
                                    {% for item in line.values %}
                                        <td>{{ item }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="mt" style="overflow-x: auto">
                        <table id="datatable-table" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                {% for item in figures1["table2"].columns.values %}
                                <th><strong><label name="class" value={{ item }} > {{ item }} </label></strong></th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                                {% for index, line in figures1["table2"].iterrows() %}
                                <tr>
                                    {% for item in line.values %}
                                        <td>{{ item }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
      	<div class="col-lg-12">
        		<section class="widget">
          			<header>
          			    <h3><strong>Options</strong></h3>
          			</header>
          			<div class="widget-body">
                    <div class="tab">
                      <button class="tablinks m-t-1 btn btn-info" onclick="openCity(event, 'real')">Real</button>
                      <button class="tablinks m-t-1 btn btn-info" onclick="openCity(event, 'transformed')">Transformed</button>
                    </div>
          			</div>
        		</section>
      	</div>
    </div>

    <div id="transformed" class="tabcontent">
        {% for name, fig in figures1["plot"].items() %}
            <div class="row">
                <div class="col-lg-12">
                    <section class="widget">
                        <header>
                            <h3>
                                <strong>{{name}}</strong>
                            </h3>
                            <div class="widget-controls">
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body">
                            <p class="fs-mini text-muted">
                                The {{name}} aims to show the distribution of numerical data.
                            </p>
                            <div class="btn-toolbar">
                                <button type="button" class="m-t-1 btn btn-info" data-toggle="popover" title="" data-placement="right" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">
                                    Show more info
                                </button>
                            </div>
                        </div>
                            {{ fig |safe }}
                    </section>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="real" class="tabcontent">
        {% for name, fig in figures2["plot"].items() %}
            <div class="row">
                <div class="col-lg-12">
                    <section class="widget">
                        <header>
                            <h3><strong>{{name}}</strong></h3>
                            <div class="widget-controls">
                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-body">
                            <p class="fs-mini text-muted">
                                The {{name}} aims to show the distribution of numerical data.
                            </p>
                            <div class="btn-toolbar">
                                <button type="button" class="m-t-1 btn btn-info" data-toggle="popover" title="" data-placement="right" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">
                                    Show more info
                                </button>
                            </div>
                        </div>
                            {{ fig |safe }}
                    </section>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<!--End Plot-->

{% endblock %}

{% block specific_libraries %}
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementsByClassName('tablinks')[0].click()
</script>
<script src="{{url_for('static', filename = 'js/ui-components.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/jquery-autosize/jquery.autosize.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap3-wysihtml5/lib/js/wysihtml5-0.3.0.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap3-wysihtml5/src/bootstrap3-wysihtml5.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/select2/select2.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/moment/min/moment.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/switchery/dist/switchery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/jasny-bootstrap/js/inputmask.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/jasny-bootstrap/js/fileinput.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/holderjs/holder.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/dropzone/dist/min/dropzone.min.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/markdown/lib/markdown.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/bootstrap-markdown/js/bootstrap-markdown.js')}}"></script>
<script src="{{url_for('static', filename = 'vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/form-elements.js')}}"></script>
{% endblock %}
