{% extends "layouts/base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
<nav class="page-container navbar navbar-dashboard">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav pull-xs-right">
                <li class="dropdown nav-item">
                    <a href="{{url_for('login')}}" class="google btn" id="notifications-dropdown-toggle">
                        <strong><i class="fa fa-google fa-fw"></i> Login with Google+</strong>&nbsp;
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp" id="notifications-dropdown-menu">
                        <section class="card notifications">
                            <div id="notifications-list" >
                                <a class="list-group-item" href="#">
                                </a>
                            </div>
                        </section>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">Admin &nbsp;&nbsp;</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="/defineData">
              <i class="fa fa-circle text-gray mr-n-sm"></i>
              <i class="fa fa-circle text-warning"></i>
              &nbsp;
              PyMach
              &nbsp;
              <i class="fa fa-circle text-warning mr-n-sm"></i>
              <i class="fa fa-circle text-gray"></i>
            </a>
        </div>
        <div class="collapse navbar-container">
            <ul class="nav navbar-nav pull-xs-right">
                <li class="dropdown nav-item">
                    <a href="{{url_for('login')}}" class="google btn" id="notifications-dropdown-toggle">
                        <strong><i class="fa fa-google fa-fw"></i> Login with Google+</strong>&nbsp;
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInUp" id="notifications-dropdown-menu">
                        <section class="card notifications">
                            <div id="notifications-list" >
                                <a class="list-group-item" href="#">
                                </a>
                            </div>
                        </section>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">Admin &nbsp;&nbsp;</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand" href="/defineData">
              <i class="fa fa-circle text-gray mr-n-sm"></i>
              <i class="fa fa-circle text-warning"></i>
              &nbsp;
              PyMach
              &nbsp;
              <i class="fa fa-circle text-warning mr-n-sm"></i>
              <i class="fa fa-circle text-gray"></i>
            </a>
        </div>
    </div>
</nav>
<div class="content-container">
    <main id="content" class="content" role="main">
			{% if messages %}
					{% for category, message in messages %}
						<div class="{{ category }}">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

        {%block content_home%}{% endblock %}
    </main>
</div>
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

{% endblock %}
